.firstImage {border-radius:10px;width:800px;max-width:100%}

.ball {
    display:inline-block;
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    top: 0px;
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
  }
  
@keyframes bounce {
    0% {
      top: 0px;
    }
    50% {
      top: 100px;
    }
    100% {
      top: 0px;
    }
  }

.ball2 {
    display:inline-block;
    transition-property: background;
    transition-duration: 2s;
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
  }
  
.ball2:hover {
    background: blue;
  }