@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

a {color:#6060a0;text-decoration:none}
a:hover {color:#8080c0;text-decoration:none}

body {background-color:#181840;color:#c0c0ff;font-family:'Noto Sans','Arial','Sans-serif','Helvetica';font-size:14px;
        margin:0px;display:grid;grid-template-rows:auto 1fr auto;min-height:100vh;padding:0px}

h1,h2,h3,h4,h5,h6 {font-weight:normal;margin:0px;padding:0px;text-align:center;color:#8080e0}

header {width:100%;float:left;margin:0px;padding:0px}

#headerNavWrapper {width:100%;position:fixed;background-color:rgba(16,16,48,0.95);overflow:hidden;transition:height 0.5s;z-index:100}
#headerContentWrapper {background-color:#ffffff}
#headerNavSupport {width:100%}

.headerNav {max-width:1200px;margin:0 auto;display:block;overflow:visible}
.headerContent {max-width:1200px;margin:0 auto;display:block;padding:20px;text-align:center}

nav {margin:0px;padding:0px}
nav ul {list-style:none;padding:0px;margin:0px}
nav ul li {display:inline-block}
nav ul li a {padding:20px;display:inline-block}

.navItemCurrent {padding:20px;background-color:#ffffff;color:#606060;display:inline-block}
.hamburgerIconUL {display:none;padding:0px;margin:0px;list-style:none}
.hamburgerIcon {display:none;padding:20px;cursor:pointer}
#hamburger-checkbox {display:none}
#hamburger-checkbox2 {display:none}
#hamburger-checkbox:checked ~ .headerNavWrapper {height:100%}

input, textarea, select {font-family:inherit;font-size:inherit;padding:10px;border-radius:5px;border:1px solid #e0e0e0;background-color:#ffffff}

input[type=text], input[type=email], input[type=number], input[type=password], textarea, select {width:300px;max-width:100%}

input[type=button], input[type=submit], input[type=reset], button {background-color:#6060a0;border:0;border-bottom:2px solid rgba(0,0,0,0.5);
        padding:10px;color:#ffffff;cursor:pointer}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover {background-color:#8080c0}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active {border-bottom-width:1px;margin-top:1px;vertical-align:-1px}

main {width:100%;float:left;position:relative;margin-bottom:-14px}
main section {max-width:1200px;margin:0 auto;background-color:#101030;box-sizing:border-box;height:100%}
main section div {padding:20px}

footer {width:100%;float:left;position:relative;background:linear-gradient()}
footer section {max-width:1200px;margin:0 auto;padding:20px;box-sizing:border-box;text-align:center;color:#8080e0}

.hideOnMobile {display:initial}
.showOnMobile {display:none}

@media only screen and (max-width:800px)
{
        .hideOnMobile {display:none}
        .showOnMobile {display:initial}
        .hamburgerIconUL {display:block}
        .hamburgerIcon {display:block}
        nav ul li {display:block}
        nav ul li a {display:block;text-align:center}
        .navItemCurrent {display:block;text-align:center}
}