
/* --------------------- */
/* Palette (exept white) */
/* --------------------- */
/* rgb(27,32,61)         */
/* rgb(112,128,192)      */
/* rgb(140,150,204)      */
/* rgb(186,192,224)      */
/* --------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

a {color:rgb(112,128,192);text-decoration:none;border-bottom:1px dotted rgb(112,128,192)}
a:hover {color:rgb(140,150,204);text-decoration:none;border-bottom:1px solid rgb(140,150,204)}

body {background-color:rgb(27,32,61);color:rgb(186,192,224);font-family:'Montserrat','Arial','Sans-serif','Helvetica';font-size:14px;
        margin:0px;display:grid;grid-template-rows:auto 1fr auto;min-height:100vh;padding:0px}

h1,h2,h3,h4,h5,h6 {font-weight:normal;margin:0px;padding:0px;text-align:center;font-family:'JetBrains Mono','Impact','Helvetica'}

input, textarea, select, button {font-family:inherit;font-size:inherit;padding:10px;border-radius:3px;border:1px solid #e0e0e0;background-color:#ffffff}
input[type=text], input[type=email], input[type=number], input[type=password], textarea, select {width:100%;max-width:400px;box-sizing:border-box}
input[type=button], input[type=submit], input[type=reset], button {background-color:rgb(112,128,192);border:0;border-bottom:2px solid rgba(0,0,0,0.5);
        padding:10px;color:#ffffff;cursor:pointer}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover {background-color:rgb(140,150,204)}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active {border-bottom-width:1px;margin-top:1px;vertical-align:-1px}

header {width:100%;float:left;margin:0px;padding:0px}
header a {border:0}
header a:hover {border:0}

.headerNavWrapper {width:100%;overflow:hidden}
.headerNav {max-width:1200px;margin:0 auto;display:block;overflow:visible}

.headerContentWrapper {background-color:#ffffff}
.headerContent {max-width:1200px;margin:0 auto;display:block;padding:20px;text-align:center}

nav {max-width:1200px;margin:0 auto;padding:0px}
nav ul {list-style:none;padding:0px;margin:0px;display:inline-block;vertical-align:top}
nav ul li {display:inline-block}
nav ul li a, label {padding:20px;display:inline-block}

.navItemCurrent {padding:20px;color:#ffffff;display:inline-block}
#navItemsDesktop {display:inline-block;box-sizing:border-box;transition:height 0.5s}

.hamburgerIcon {display:none}
.hamburgerIcon label {cursor:pointer}
#hamburgerMenu {display:none;background-color:rgba(27,32,61,0.95);position:fixed;top:0;left:0;width:0px;
                height:100%;overflow:hidden;transition:width 0.5s;z-index:200;border-right:2px solid rgb(27,32,61);
                font-size:18px}
#hamburgerCheckbox {display:none}
#hamburgerCheckbox:checked ~ #hamburgerMenu {width:50%}
#navItemsMobile {width:100%}
#navItemsMobile li {display:block;text-align:center}

.cartIcon {display:inline-block;box-sizing:border-box;float:right}
.cartIcon li {padding:10px}
.cartIcon li label {padding:10px;border-radius:3px;color:rgb(112,128,192);background-color:#ffffff}
.cartIcon li label:hover {color:#ffffff;background-color:rgb(140,150,204)}

.cartArea {color:rgb(27,32,61);transform:scaleY(0);overflow:hidden}
.cartArea h1 {margin-top:20px}
#cartCheckbox {display:none}
#cartCheckbox:checked ~ .cartArea {transform:scaleY(1)}



main {width:100%;float:left;position:relative;margin-bottom:-14px}
main section {max-width:1200px;margin:0 auto;background-color:rgb(21,26,49);box-sizing:border-box;height:100%;border-radius:0px 0px 20px 20px}
main section div {padding:20px}


footer {width:100%;float:left;position:relative;background:linear-gradient()}
footer section {max-width:1200px;margin:0 auto;padding:20px;box-sizing:border-box;text-align:center;color:rgb(112,128,192)}

.hideOnMobile {display:initial}
.showOnMobile {display:none}

@media only screen and (max-width:800px)
{
        .hideOnMobile {display:none}
        .showOnMobile {display:initial}
        
        .hamburgerIcon {display:inline-block}
        #hamburgerMenu {display:block}
        #navItemsDesktop {display:none}
}