@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

a {color:#8080c0;text-decoration:none;border-bottom:1px dotted #8080c0}
a:hover {color:#a0a0e0;text-decoration:none;border-bottom:1px solid #a0a0e0}

body {background-color:#181840;color:#b0b0f0;font-family:'Noto Sans','Arial','Sans-serif','Helvetica';font-size:14px;
        margin:0px;display:grid;grid-template-rows:auto 1fr auto;min-height:100vh;padding:0px}

h1,h2,h3,h4,h5,h6 {font-weight:normal;margin:0px;padding:0px;text-align:center}

input, textarea, select, button {font-family:inherit;font-size:inherit;padding:10px;border-radius:3px;border:1px solid #e0e0e0;background-color:#ffffff}
input[type=text], input[type=email], input[type=number], input[type=password], textarea, select {width:100%;max-width:400px;box-sizing:border-box}
input[type=button], input[type=submit], input[type=reset], button {background-color:#404080;border:0;border-bottom:2px solid rgba(0,0,0,0.5);
        padding:10px;color:#ffffff;cursor:pointer}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover {background-color:#6060a0}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active {border-bottom-width:1px;margin-top:1px;vertical-align:-1px}

header {width:100%;float:left;margin:0px;padding:0px}

.headerNavWrapper {width:100%;overflow:hidden}
.headerNav {max-width:1200px;margin:0 auto;display:block;overflow:visible}

.headerContentWrapper {background-color:#ffffff}
.headerContent {max-width:1200px;margin:0 auto;display:block;padding:20px;text-align:center}

nav {max-width:1200px;margin:0 auto;padding:0px}
nav ul {list-style:none;padding:0px;margin:0px;display:inline-block;vertical-align:top}
nav ul li {display:inline-block}
nav ul li a, label {padding:20px;display:inline-block;border:0}
nav ul li a:hover {border:0}

.navItemCurrent {padding:20px;color:#ffffff;display:inline-block}

#navItemsDesktop {display:inline-block;box-sizing:border-box;transition:height 0.5s}
.cartIcon {display:inline-block;box-sizing:border-box;float:right}
.cartIcon li {padding:10px}
.cartIcon li a {padding:10px;border-radius:3px;color:#404080;background-color:#ffffff}
.cartIcon li a:hover {color:#ffffff;background-color:#6060a0}

.hamburgerIcon {display:none}
.hamburgerIcon label {cursor:pointer}
#hamburgerMenu {display:none;background-color:rgba(24,24,64,0.95);position:fixed;top:0;left:0;width:0px;
                height:100%;overflow:hidden;transition:width 0.5s;z-index:200;border-right:2px solid #181840;
                font-size:18px}
#hamburgerCheckbox {display:none}
#hamburgerCheckbox:checked ~ #hamburgerMenu {width:50%}
#navItemsMobile {width:100%}
#navItemsMobile li {display:block;text-align:center}

main {width:100%;float:left;position:relative;margin-bottom:-14px}
main section {max-width:1200px;margin:0 auto;background-color:#101030;box-sizing:border-box;height:100%;border-radius:0px 0px 20px 20px}
main section div {padding:20px}

.gameListing {background-color:transparent;border-radius:3px;border:0;border-bottom:2px solid transparent;
                margin:10px;padding:20px;display:inline-block;width:40%;max-width:250px;box-sizing:border-box;position:relative}
.gameListing:hover {background-color:#404080;border-bottom-color:rgba(0,0,0,0.5)}
.gameListing:active {border-bottom-width:1px;margin-top:1px;vertical-align:-1px}
.gameListing img {position:relative;z-index:1;width:210px}
.gameListingSpecial {display:block;position:absolute;top:240px;right:30px;height:40px;padding:10px;box-sizing:border-box;border-radius:50px;
                        z-index:2;font-weight:bold}
.gameListingSpecialGreen {background-color:#c04040;color:#ffffff}
.gameListingSpecialRed {background-color:#00c080;color:#ffffff}

footer {width:100%;float:left;position:relative;background:linear-gradient()}
footer section {max-width:1200px;margin:0 auto;padding:20px;box-sizing:border-box;text-align:center;color:#8080e0}

.hideOnMobile {display:initial}
.showOnMobile {display:none}

.contactMapFrame {width:100%;max-width:600px;height:450px;border:0;border-radius:3px}

@media only screen and (max-width:800px)
{
        .hideOnMobile {display:none}
        .showOnMobile {display:initial}
        
        .hamburgerIcon {display:inline-block}
        #hamburgerMenu {display:block}
        #navItemsDesktop {display:none}
}